{% if weather_status == 'clear_day' %}
  {{ slot.clear_day | default(slot.default) }}
{% elif weather_status == 'clear_night' %}
  {{ slot.clear_night | default(slot.default) }}
{% elif weather_status == 'cloudy_day' %}
  {{ slot.cloudy_day | default(slot.default) }}
{% elif weather_status == 'cloudy_night' %}
  {{ slot.cloudy_night | default(slot.default) }}
{% elif weather_status == 'overcast' %}
  {{ slot.overcast | default(slot.default) }}
{% elif weather_status == 'light_rain' %}
  {{ slot.light_rain | default(slot.default) }}
{% elif weather_status == 'heavy_rain' %}
  {{ slot.heavy_rain | default(slot.default) }}
{% elif weather_status == 'snow' %}
  {{ slot.snow | default(slot.default) }}
{% elif weather_status == 'thunder' %}
  {{ slot.thunder | default(slot.default) }}
{% endif %}
