/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: rgb(115 130 175 / 95%);
  margin-right: 7px;
}

body {
  color: rgb(255 255 255 / 90%);
  font-family: ui-monospace, monospace;
  font-size: 12px;
}

#root {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(255 255 255 / 5%);
  background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%));
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 24px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;

  & > * {
    margin-right: 20px;
  }
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}

.logo {
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;

  .workspace {
    background: rgb(255 255 255 / 5%);
    margin-right: 4px;
    padding: 4px 8px;
    color: rgb(255 255 255 / 90%);
    border: none;
    border-radius: 2px;
    cursor: pointer;

    &.displayed {
      background: rgb(255 255 255 / 15%);
    }

    &.focused,
    &:hover {
      background: rgb(75 115 255 / 50%);
    }
  }
}

.binding-mode,
.tiling-direction {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 2px;
  padding: 4px 6px;
  margin: 0;
}

.tiling-direction {
  border: 0;
  cursor: pointer;
}

.high-usage {
  color: #900029;
}

.charging-icon {
  position: absolute;
  font-size: 11px;
  left: 7px;
  top: 2px;
}
