{
  "$schema": "https://github.com/glzr-io/zebar/raw/v{{ ZEBAR_VERSION }}/resources/pack-schema.json",
  "name": "{{ PACK_NAME }}",
  "description": "{{ PACK_DESCRIPTION }}",
  "tags": {{ PACK_TAGS | json_encode() | safe }},
  "previewImages": ["./resources/preview-image-1.png"],
  "repositoryUrl": "{{ REPOSITORY_URL }}",
  "widgets": []
}
