@for (workspace in glazewm.workspaces) {
  @if (workspace.state == 'focused') {
    <button class="focused-workspace">
      {{ slot.focused || slot.default || workspace.name }}
    </button>
  } @else if (workspace.state == 'active') {
    <button class="active-workspace" onclick="{{ focus_workspace }}">
      {{ slot.active || slot.default || workspace.name }}
    </button>
  } @else {
    <button class="normal-workspace" onclick="{{ focus_workspace }}">
      {{ slot.normal || slot.default || workspace.name }}
    </button>
  }
}
