@for (workspace of glazewm.workspaces) {
  @if (workspace.state == 'focused') {
    <button class="focused-workspace">
      {{ $slot(slot.focused) || $slot(slot.default) || workspace.name }}
    </button>
  } @else if (workspace.state == 'active') {
    <button class="active-workspace" onclick="{{ focus_workspace }}">
      {{ $slot(slot.active) || $slot(slot.default) || workspace.name }}
    </button>
  } @else {
    <button class="normal-workspace" onclick="{{ focus_workspace }}">
      {{ $slot(slot.normal) || $slot(slot.default) || workspace.name }}
    </button>
  }
}
