<div {{ root_props }}>
  {% if weather_status == WeatherStatus.CLEAR_DAY %}
    {{ slot.clear_day | default(slot.default) }}
  {% elif weather_status == WeatherStatus.CLEAR_NIGHT %}
    {{ slot.clear_night | default(slot.default) }}
  {% elif weather_status == WeatherStatus.CLOUDY_DAY %}
    {{ slot.cloudy_day | default(slot.default) }}
  {% elif weather_status == WeatherStatus.CLOUDY_NIGHT %}
    {{ slot.cloudy_night | default(slot.default) }}
  {% elif weather_status == WeatherStatus.OVERCAST %}
    {{ slot.overcast | default(slot.default) }}
  {% elif weather_status == WeatherStatus.LIGHT_RAIN %}
    {{ slot.light_rain | default(slot.default) }}
  {% elif weather_status == WeatherStatus.HEAVY_RAIN %}
    {{ slot.heavy_rain | default(slot.default) }}
  {% elif weather_status == WeatherStatus.SNOW %}
    {{ slot.snow | default(slot.default) }}
  {% elif weather_status == WeatherStatus.THUNDER %}
    {{ slot.thunder | default(slot.default) }}
  {% endif %}
</div>
