/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
 @import 'https://www.nerdfonts.com/assets/css/webfont.css';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(0 0 0 / 90%);
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  user-select: none;
}

#root {
  background-color: #f0f0f5;
  border-bottom: 1px solid #d0d0d0;
}

i {
  color: rgb(0 0 0 / 90%);
  margin-right: 5px;
}

.logo {
  margin: 0;
  padding: 4px 12px 4px 20px;
  font-size: 18px;
  border-radius: 4px;
}

.logo.active {
  background-color: #e0e0e0;
}

#dropdown {
  display: none;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.left,
.right {
  height: 100%;
  align-items: center;
  display: flex;
}

ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  align-items: center;  
  justify-content: flex-start;
  display: flex;
}

li {
  height: 100%;
  margin-right: 20px;
  align-items: center;
  display: inline-flex;
}

.left li {
  margin-right: 5px;
}

ul:not(#dropdown):not(#menu) > li:first-child button {
  font-weight: bold;
  text-shadow: none;
}

ul li ul li:last-child {
  margin-right: 0;
}

li.act button:first-of-type {
  background-color: #d6d6d6;
  color: rgb(0 0 0 / 90%);
  border-radius: 4px;
}

button {
  height: 100%;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: 0;
  background: none;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s, border-color 0.2s; /* Smooth hover effect */
}

button:hover {
  background-color: #d6d6d6;
  color: rgb(0 0 0 / 90%);
  border-radius: 4px;
}

.systray-icon {
  width: 20px;
  height: 20px;
}